.login-display-change-text {
    text-align: center;
}

.login-display-change-text span {
    text-decoration: underline;
    color: #138cff;
}

.login-display-change-text span:hover {
    cursor: pointer;
}

.login-page-form.hide {
    display: none;
}

.login-page-form h2 {
    margin-top: 0;
    text-align: center;
}

.login-page-form > .form-group {
    margin-bottom: 30px;
}

.login-page-form > .submit-btn-wrapper {
    display: flex;
}

.login-page-forms-wrapper {
    position: relative;
    top: 50px;
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    /* background-color: white; */
    padding: 40px;
    border-radius: 5px;
    box-shadow: -1px 3px 5px #00000038;
}

@media screen and (max-width: 550px) {
    .login-page-form > .submit-btn-wrapper {
        justify-content: flex-end;
    }

    .login-page-forms-wrapper {
        width: 100%;
        padding: 10px;
    }
}