.edit-profile-content-wrapper {
    padding-top: 10px;
}

.edit-profile-content-wrapper h1 {
    text-align: center;
}

.edit-profile-form {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
}

.edit-profile-form > input {
    margin-bottom: 30px;
}

.edit-profile-form > label {
    display: block;
    margin-bottom: 5px;
}

.edit-profile-form > .btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.edit-profile-form > .profile-pic {
    display: flex;
}

.edit-profile-form > .profile-pic > .img-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.edit-profile-form > .profile-pic > button {
    height: fit-content;
    align-self: flex-end;
}

.edit-profile-form > .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}