.profile-info-wrapper {
    
}

.profile-info-wrapper > h1 {
    text-align: center;
}

.profile-info-wrapper > .row.top {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.profile-info-wrapper .follows-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.profile-info-wrapper .follows-wrapper p {
    margin-top: 0px;
}

.profile-info-wrapper .follows-wrapper .following-count,
.profile-info-wrapper .follows-wrapper .followers-count {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
}

.profile-info-wrapper > .row.top > .flex-group.right {
    width: calc(100% - 150px);
}

.profile-info-wrapper > .row.top > .flex-group.right .followers,
.profile-info-wrapper > .row.top > .flex-group.right .following {
    width: 50%;
}

.profile-info-wrapper .profile-img-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    box-sizing: border-box;
}

.profile-info-wrapper .profile-img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info-wrapper .profile-option-btns-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

.profile-info-wrapper .profile-option-btns-wrapper.mobile {
    display: none;
}

.profile-info-wrapper .profile-option-btns-wrapper button {
    width: 45%;
    /* font-size: 1rem;
    box-sizing: border-box;
    padding: .3rem .6rem; */
}

.profile-info-wrapper .user-name-wrapper {
    font-size: 1.5rem;
    margin-top: 10px;
}

.profile-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile-posts-wrapper > .profile-post-thumb {
    position: relative;
    width: 33.333%;
    padding-top: 33.333%;
    border: 2px solid black;
    box-sizing: border-box;
}

.profile-posts-wrapper > .profile-post-thumb.first-col {
    border-left: none;
}

.profile-posts-wrapper > .profile-post-thumb.third-col {
    border-right: none;
}

.profile-posts-wrapper > .profile-post-thumb > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 450px) {
    .profile-info-wrapper .follows-wrapper .following-count,
    .profile-info-wrapper .follows-wrapper .followers-count {
        margin-top: 0;
    }

    .profile-info-wrapper .profile-img-wrapper {
        /* position: absolute;
        bottom: 0; */
        width: 100px;
        height: 100px;
    }

    .profile-info-wrapper > .row.top > .flex-group.right {
        width: calc(100% - 100px);
    }

    .profile-info-wrapper .profile-option-btns-wrapper {
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    .profile-info-wrapper .profile-option-btns-wrapper {
        display: none;
    }

    .profile-info-wrapper .profile-option-btns-wrapper.mobile {
        display: flex;
        margin-top: 10px;
    }

    .profile-info-wrapper .profile-bio {
        margin-top: 10px;
    }
}