header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: black;
    /* box-shadow: 0 0 10px #00000038; */
    border-bottom: 1px solid #1b1b1b;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header .brand {
    text-decoration: none;
    color: white;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header .flex-item-group {
    position: relative;
}

.header-search-wrapper {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #e7e8eb;
}

.header-search-wrapper.hide-bottom-border {
    border-radius: 20px 20px 0 0;
    border-bottom-color: white;
}

.header-search-wrapper:hover,
.header-search-wrapper.focused {
    border-color: white;
    box-shadow: 0 0 10px #b1b1b1;
}

.header-search-wrapper input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    width: 250px;
}

.header-search-wrapper input:focus {
    outline: none;
}

.header-search-wrapper button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.header-search-wrapper button:hover {
    cursor: pointer;
}

.header-search-wrapper button svg {
    font-size: 15px;
}

.nav-link {
    font-size: 25px;
    margin-left: 20px;
    color: white;
    padding: 0;
    background-color: transparent;
    border: none;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link:focus {
    outline: none;
}

.nav-link.search {
    display: none;
}

@media screen and (max-width: 800px) {
    .header-flex > .flex-item-group.search {
        display: none;
    }

    .header-flex > .flex-item-group.link-icons > .nav-link.search {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    header .nav-link {
        display: none!important;
    }

    header .nav-link.messages {
        display: inline-block!important;
    }
}