header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: white;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header .brand {
    text-decoration: none;
    color: black;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-search-wrapper {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #e7e8eb;
}

.header-search-wrapper:hover,
.header-search-wrapper.focused {
    border-color: white;
    box-shadow: 0 0 5px #b1b1b1;
}

.header-search-wrapper input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    width: 250px;
}

.header-search-wrapper input:focus {
    outline: none;
}

.header-search-wrapper button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.header-search-wrapper button:hover {
    cursor: pointer;
}

.header-search-wrapper button svg {
    font-size: 15px;
}

.nav-link {
    font-size: 25px;
    margin-left: 20px;
    color: black;
}