.new-post-modal-wrapper-inner {
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 500px;
    padding: 10px;
    background-color: black;
    border: 1px solid #1b1b1b;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.new-post-modal-wrapper-outer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    transition: all .5s;
}

.new-post-modal-wrapper-inner > h2 {
    text-align: center;
    margin-top: 0;
}

.new-post-modal-wrapper-inner > .caption-wrapper {
    width: 100%;
    border-radius: inherit;
    margin-bottom: 10px;
    margin-top: 52px;
    box-sizing: border-box;
}

.new-post-modal-wrapper-inner > .caption-wrapper > textarea {
    max-width: 100%;
    min-width: 100%;
    font-size: 1.1rem;
    color: white;
    background-color: #292929;
    padding: 10px;
    min-height: 150px;
    border-radius: inherit;
    box-sizing: border-box;
    border: none;
}

.new-post-modal-wrapper-inner > .caption-wrapper > textarea:focus {
    outline: none;
    box-shadow: 0 0 0 .2rem #138cff;
}

.new-post-modal-wrapper-inner > .exit-btn {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    font-size: 3rem;
}

.new-post-modal-wrapper-inner > .exit-btn:focus {
    outline: none;
}

.new-post-modal-wrapper-inner > .exit-btn:hover {
    cursor: pointer;
}

.new-post-modal-wrapper-inner > .exit-btn > span {
    position: relative;
    bottom: 8px;
}

.new-post-modal-wrapper-inner .img-aspect-ratio-wrapper {
    position: relative;
    width: 100%;
    padding-top: 57%;
    box-sizing: border-box;
}

.new-post-modal-wrapper-inner .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


.new-post-modal-wrapper-inner .img-wrapper > h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 500;
    color: rgb(192, 192, 192);
    font-size: 1.5rem;
    top: 90px;
}

.new-post-modal-wrapper-inner .img-wrapper > h3:hover {
    cursor: pointer;
}

.new-post-modal-wrapper-inner .img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.new-post-modal-wrapper-inner .img-wrapper svg {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.new-post-modal-wrapper-inner .img-wrapper svg:hover {
    cursor: pointer;
}

.new-post-modal-wrapper-inner .img-wrapper > svg > .cls-1 {
    fill: none;
    stroke: rgb(192, 192, 192);
    stroke-miterlimit: 10;
    stroke-width: .5px;
    stroke-dasharray: 8.11 8.11;
}

.new-post-modal-wrapper-inner .img-wrapper > .btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.new-post-modal-wrapper-inner .img-wrapper > .btn-wrapper > button {
    /* font-size: 1rem;
    padding: .4rem .6rem;
    background-color: transparent;
    color: #9c9c9c;
    border: 2px solid #424242;
    border-radius: 5px;
    transition: all .2s; */
}

.new-post-modal-wrapper-inner .img-wrapper > .btn-wrapper > button:hover {
    /* cursor: pointer;
    background-color: #424242;
    color: white; */
}

.new-post-modal-wrapper-inner .img-wrapper > .image-upload-svg-wrapper {
    width: 100%;
}

.new-post-modal-wrapper-inner > .post-btn-wrapper {
    display: flex;
    justify-content: flex-end;    
}

@media screen and (max-width: 800px) {
    .new-post-modal-wrapper-outer {
        padding-top: 5px;
    }
}