body {
  /* background: linear-gradient(45deg, #fad0c4b8, #ffd1ff8c); */
  /* background: linear-gradient(to top right, #fff365bf, transparent), 
  linear-gradient(to bottom left, #00ff00a1, transparent),
  linear-gradient(to bottom right, #ff00ffa6, transparent),
  linear-gradient(to top left, #ff9797, transparent); */
  /* background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent); */
  /* background: linear-gradient(to top left, #f1dab7, #f4d7b1, transparent),
    linear-gradient(to top left, white, transparent),
    linear-gradient(to bottom left, #feffdd, transparent); */
  /* background-blend-mode: screen; */
  /* min-height: 100vh; */
  background-color: black;
  color: white;
}

input:focus {
  outline: none;
}

button:disabled {
  cursor: auto !important;
}

button:focus {
  outline: none !important;
}

/* .App {
  background: linear-gradient(45deg, #fad0c4b8, #ffd1ff8c);
  min-height: calc(100vh - 54px);
  box-sizing: border-box;
} */

.blue-btn {
  background-color: #138cff;
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 2px 3px #ffffffa3;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  padding: .6rem .7rem;
}

.blue-btn:focus {
  outline: none;
}

.blue-btn:hover {
  cursor: pointer;
}

.blue-btn:disabled {
  background-color: #56adff;
}

.content-header-footer-offset {
  margin-bottom: 43px;
  margin-top: 54px;
}

.content-main-responsive {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 10px;
    width: 95%;
}

.dark-btn {
  font-size: 1rem;
  padding: .4rem .6rem;
  background-color: transparent;
  color: #9c9c9c;
  border: 2px solid #424242;
  border-radius: 5px;
  transition: all .2s;
}

.dark-btn:hover {
  cursor: pointer;
    background-color: #424242;
    color: white;
}

.dark-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  height: calc(1.5em + .75rem + 2px);
  line-height: 1.5;
  border: none;
  border-radius: .25rem;
  box-sizing: border-box;
  background-color: #292929;
  color: white;
  padding-left: 10px;
}

.dark-input:focus {
  border-color: #1b1b1b;
  box-shadow: 0 0 0 .2rem #138cff;
}

.dark-input::placeholder {
  color: rgb(167, 167, 167);
}

.helper-wrapper {
  background-color: #ff3838;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.hide {
  display: none;
}

.btn-load-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(360deg);
  }
}