body {
  background: linear-gradient(45deg, #fad0c4b8, #ffd1ff8c);
}

input:focus {
  outline: none;
}

/* .App {
  background: linear-gradient(45deg, #fad0c4b8, #ffd1ff8c);
  min-height: calc(100vh - 54px);
  box-sizing: border-box;
} */

.content-header-offset {
  margin-top: 54px;
}